/* Reset default styles to something more reasonable */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

/* Entire sheets */

.sheet {
  margin-left: 200px;
  margin-top: 40px;
  width: 640px;
}

.cell {
  margin-bottom: 2rem;
}

.cell .name {
  border: none;
  outline: none;
  color: #777;
  display: inline-block;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 13px;
  margin-right: 20px;
  margin-top: 0.2em;
  text-align: right;
  vertical-align: top;
  width: 100px;
}

.midcol {
  display: inline-block;
}

/* Code cells */

.code {
  margin-left: -120px;
  width: 800px;
}

.code .input, .code .output {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: 1.4;
}

.code .input {
  height: 1.4em;
  width: 640px;
}

.code .output {
  border-top: 1px solid #ccc;
  margin-top: 0.25rem;
  max-width: 640px;
  padding-top: 0.4rem;
}

.success { color: green; }
.failure { color: red;   }

/* UI input */

.panel { display: table; }
.panel .row { display: table-row; }
.panel .row > * { display: table-cell; }

.panel .label {
  color: black;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

input[type="range"] {
  position: relative;
  top: 3px;
}

/* Text cells */

.text .content {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.4;
}

.text .content > * {
  margin-bottom: 1rem;
}

.text .content ol,
.text .content ul {
  margin-left: 2rem;
  margin-right: 1rem;
}

.text .input {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
}
